package components

import "github.com/deej-tsn/website_v4/internal/models"

templ PostHero(postData models.Post) {
    <a class="postHero" href={templ.SafeURL("/blog/posts/"+ postData.Slug)}>
            <h1>{postData.Title}</h1>
            <p>{postData.Description}</p>
            <p class="postHeroDate">{postData.Date.Format(" Jan _2  ")}</p>
    </a>

}