package components

templ NavBar(selected int){
    <nav>
        @NavLinkTempl("Home", "/" ,selected == 0)
        <hr class="verticalBar">
        @NavLinkTempl("Projects", "/projects", selected == 1)
        <hr class="verticalBar">
        @NavLinkTempl("Blog", "/blog", selected == 2)
    </nav>
}