#projects{
    width: 80%;
    margin: auto;
    margin-top: 8rem;
    padding: 2rem;
    background-color:var(--secondary-colour) ;
    min-height: 50vh;
    height: fit-content;
    filter: var(--drop_shadow);
    border-radius: 5px;
    
    h1{
        text-align: center;
    }
    h2{
        text-align: center;
    }
}



.projectHero {
    display: block;
    width: 20rem;
    height: 20rem;
    background-color: var(--white);
    cursor: pointer;
    filter: var(--drop_shadow);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.3s ease-in-out;
    text-decoration: none;
    color: #000000;
    margin-bottom: 1rem;

    img {
        width: 20rem;
        height: 10rem;
        object-fit: cover;
        transition: height 0.3s ease-in-out;
        margin: 0;
    }

    .heroInfo{
        padding: 0 1rem 0 1rem;
    }

    .title{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 100%;
        margin: 0;
    }

    h3{
        width: fit-content;
        height: fit-content;
        
    }

    p {
        margin: 0;
        text-overflow: ellipsis;
        transition: opacity 0.3s ease-in-out;
    }
    .heroSkills{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 50%;
        height: 100%;
    }

    .icon {
        padding: 5px 7px 5px 7px;
        border-radius: 20px;
        background-color: #a8a8a8;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 1rem;
        height: 1.3rem;


    }
}

.projectHero:hover {
    height: 23rem;

    img {
        height: 18rem;
    }

    p{
        opacity: 0;
    }
}

.sectionProjects{

    display: flex;
    flex-direction: column;
    align-items: center;
}


/* Medium Screen */
@media (min-width: 768px) {

    #projects {
        h1{
            text-align: left;
        }
        h2{
            text-align: left;
        }
    }

    .projectHero{

        margin-bottom: 0;
        margin-right: 1rem;
    }

    .sectionProjects{
        flex-direction: row;
    }

}
/* Large Screen */
@media (min-width: 1025px) {

}