package components

templ homeHero() {
    <div>
        <div id="homeHero">
        </div>
        <div id="heroCenter">
            <h1 style="width: fit-content;"> Fullstack Developer  </h1>
            <h3 style="width: fit-content; margin: 0;"> London, England</h3>
        </div>
    </div>

}