package components

import "github.com/deej-tsn/website_v4/internal/models"

templ IconSkill(skill models.SkillIcon) {
    <div class="iconSkill">
        
        <div>
        </div>
        <div class=" skillHover">
            {skill.Name}
        </div>        
    </div>

}