package components

import "github.com/deej-tsn/website_v4/internal/models"


templ IconSkill(skill models.SkillIcon) {
    <div class="iconSkill">
        
        <i class={skill.ImgURL}></i>
        <h3 class="iconTitle">{skill.Name}</h3>

    </div>

}