package components

import "github.com/deej-tsn/website_v4/internal/models"


templ SkillsList(skills []models.SkillIcon) {
    <div id="skillList">
        for _, skill := range skills{
            @IconSkill(skill)
        }
    
    </div>

}