package components



templ Content() {
    <div id="projects">
        <h1>Projects</h1>
        <div>
            @Section("Frontend" , nil)
            @Section("Backend", nil)
            @Section("Other", nil)
        </div>
    </div>
}