package components

import "github.com/deej-tsn/website_v4/internal/models"

templ Hero( project models.ProjectHero){
    <a class="projectHero">
        <img>
        <div>
            <h1>Title</h1>
            <p>Description</p>
            <div>
                
            </div>
        </div>
    </a>
}