package components

templ Hero(){
    <a class="projectHero">
        <img>
        <div>
            <h1>Title</h1>
            <p>Description</p>
            <div>
                
            </div>
        </div>
    </a>
}