package components

import "github.com/deej-tsn/website_v4/internal/models"

templ Section(title string, projects []models.ProjectHero) {
    <section>
        <h2>{title}</h2>
        <div class="sectionProjects">
            for _, project := range projects {
            @Hero(project)
        }
        </div>

    </section>
}